.App {
  text-align: center;
}

.App-footer {
  background-color: #005C53;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  position: fixed;
  bottom:0;
  width: 100%;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

h1 {
  font-style: italic;
}